/*首页 开始*/

/*头部 开始*/
.header{width:100%;height:2.0rem;background:#666666;position:absolute;top:0;left:0;}
.goback{float: left;width:1.4rem;margin-top:0.4rem;}
.goback img{width:100%;}
.user-btn{float:right;margin-top:0.4rem;width:1.2rem;}
.user-btn img{width:100%;}
.logo{width: 4rem;height: 1.8rem;float: left;margin-top:0.1rem;}
.logo img{width:100%;height:100%;}
/*头部 结束*/


/*内容 开始*/
.index-content{position:absolute;top:2rem;left:0;right:0;bottom:2.2rem;overflow: auto;-webkit-overflow-scrolling: touch;}
/*banner 开始*/
.banner{width:100%;overflow: hidden;background:#f00;}
.banner .item:nth-child(1){background:#f0f;}
.banner .item:nth-child(2){background:#f00;}
.banner .item:nth-child(3){background:#00f;}
/*banner 结束*/

/*维修分类 开始*/
/*标题 开始*/
.title{text-align:center;margin-top:1rem;line-height:1.6rem;}
.title-line{display: inline-block;width:30%;height:0;border-bottom:1px solid #CCCCCC;vertical-align: middle;margin-top:0.8rem;}
.title-line-left{float: left;}
.title-line-right{float: right;}
.title-content{margin: 0 0.5rem;vertical-align: middle;}
/*标题 结束*/
/*维修内容 开始*/
.maintenance-types{width:100%;}
.maintenance-content{width:100%;overflow: hidden;padding:0.5rem 0;font-size:0.6rem;}
.maintenance-item{float:left;width:33.3%;margin:0.5rem 0;text-align: center;}
.maintenance-item a{display: block;}
.maintenance-item img{width:2rem;margin: 0 auto 0.5rem;}
/*维修内容 结束*/
/*维修分类 结束*/

.index-server{margin:1rem 0;}
.more-service,.customer-service{width:48%;height:2rem;border:1px solid #CCCCCC;border-radius: 0.2rem;text-align:center;line-height:2rem;}
.more-service{float:left;}
.customer-service{float:right;}

.security{width:100%;border-top:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;font-size:0.6rem;margin-bottom:0.5rem;}
.security-content{width:100%;overflow: hidden;padding:1rem 0;}
.security-item{float:left;width:33.3%;text-align:center;}
.security-item img{width:2.2rem;margin:0 auto 0.5rem;}

.about{text-align:center;line-height:1.6rem;}
.about a{margin: 0 0.5rem;vertical-align: middle;}
.about span{vertical-align: middle;}
/*内容 结束*/

/*底部 开始*/
.footer{width:100%;height:2.2rem;position:absolute;left:0;bottom:0;line-height:2.2rem;}
.footer:before{ position: absolute;content: ''; width: 100%; left: 0; top: 0;  height: 1px; background-color:#CCCCCC;}
.order-btn{float:right;width:34%;height:100%;text-align:center;color:#FFFFFF;background:#FF0000;}
.footer-tip{padding-left:0.6rem;}
/*底部 结束*/
/*首页 结束*/


/*维修内容页 开始*/

/*主要内容 开始*/
.maintenance-container{position:absolute;top:2rem;left:0;right:0;bottom:2.2rem;overflow: auto;-webkit-overflow-scrolling: touch;background:#eaeaea;}
/*banner 开始*/
.maintenance-banner{width:100%;height:8rem;background:#CCCCCC;}
/*banner 结束*/
.maintenance-title{width:100%;height:2rem;line-height:2rem;background:#FFFFFF;}

.maintenance-btns{overflow: hidden;padding:1rem 0 0.5rem;}
.btns-container{width:94%;margin: 0 auto;}
.maintenance-type-item{float:left;width:48%;height:2rem;line-height:1.8rem;border:1px solid #ffffff;border-radius:0.4rem;margin:0 1% 0.5rem;background:#FFFFFF;}
.maintenance-type-on{border-color:#FF0000;}
.maintenance-type-item a{display: block;text-align:center;}
.maintenance-type-item img{width:1.2rem;display: inline-block;vertical-align: middle;margin-right: 0.3rem;}
.maintenance-type-item span{display: inline-block;vertical-align: middle;}

.server-content{background:#FFFFFF;height:3rem;}
.server-content img{width: 100%;}
/*主要内容 结束*/

/*底部 开始*/
.maintenance-footer{}
.appoint-service,.online-service{float:right;}
div.appoint-serviced{background: #CCCCCC;}
.appoint-service{width:34%;height:100%;text-align:center;color:#FFFFFF;background:#FF0000;}
.appoint-service a{display: block;color:#FFFFFF;}
.online-service{width:20%;height:100%;text-align:center;font-size:0.6rem;border-left:1px solid #CCCCCC;line-height:0.6rem;}
.online-service a{display: block;}
.online-service img{width:1rem;margin:0.2rem auto;}
.footer-price{padding-left:0.6rem;}
.price{color:#ff0000;}
/*底部 结束*/

/*维修内容页 结束*/


/*获取服务 开始*/
.orders-title{color:#FF0000;text-align: center;margin-top:2rem;font-size:1rem;}

.orders-form{margin-top:1rem;}
.orders-group{margin-bottom:1rem;overflow: hidden;height:1.5rem;line-height:1.5rem;}
.orders-label{float: left;width: 26%;}
.orders-group input{float:left;width:74%;border-bottom:1px solid #CCCCCC;height:100%;padding:0 0.5rem;box-sizing: border-box;font-size:0.7rem;}
.orders-group-text{height:6rem;line-height:1rem;}
.orders-group textarea{border:1px solid #FF0000;width:100%;height:6rem;float:right;resize: none;font-size:0.7rem;padding:0.5rem;box-sizing: border-box;}
.orders-group-btn{height:2rem;line-height:2rem;}
.orders-btn{width:100%;height:2rem;background:#FF0000;color:#FFFFFF;font-size:0.7rem;cursor: pointer;}
/*获取服务 结束*/

/*投诉建议 开始*/

.complaint-title{color:#FF0000;text-align: center;font-size:1rem;margin:2rem 0;}
.complaint-content{display:block;border:1px solid #FF0000;width:100%;height:6rem;float:right;resize: none;font-size:0.7rem;padding:0.5rem;box-sizing: border-box;margin-bottom:2rem;}
.complaint-btn{width:100%;height:2rem;background:#FF0000;color:#FFFFFF;font-size:0.7rem;cursor: pointer;}
/*投诉建议 结束*/

.cancel-tip{width:8.8rem;margin:2rem auto;}
/*取消服务 开始*/
.cancelService-img{width: 6rem;margin:0 auto 1rem;}
.cancelService-title{color:#FF0000;line-height:1.5rem;margin-top:1rem;}
.cancelService-content{display:block;border:1px solid #FF0000;width:100%;height:7rem;float:right;resize: none;font-size:0.7rem;padding:0.5rem;box-sizing: border-box;margin-bottom:2rem;}
.cancelService-btn{display: block;width:50%;margin: 0 auto;height:2rem;background:#FF0000;color:#FFFFFF;font-size:0.7rem;cursor: pointer;border-radius:0.5rem;text-align: center;line-height:2rem;}
/*取消服务结束*/

/*取消订单 开始*/
.cancel-tip{width:80%;margin:2rem auto 0;}
.cancelOrders-img{width: 6rem;margin:0 auto 1rem;}
.cancel-btn{float:left;width:46%;height:2rem;background:#FF0000;color:#FFFFFF;border-radius:0.5rem;text-align: center;line-height:2rem;font-size:0.7rem;margin: 0 2%;margin-top:3rem;}
/*取消订单结束*/


/*取消派单 开始*/
.cancelSend-img{width: 6rem;margin:0 auto 1rem;}
/*取消派单 结束*/

/*提交退款 开始*/
.submitRefund-btn{display: block;width:50%;margin: 3rem auto 0;height:2rem;background:#FF0000;color:#FFFFFF;font-size:0.7rem;cursor: pointer;border-radius:0.5rem;text-align: center;line-height:2rem;}
.submitRefund-btn a{color:#FFFFFF;}
/*提交退款结束*/


/*登录页面开始*/
.login-logo{width:6rem;height:6rem;overflow: hidden;margin:2rem auto;background:#CCCCCC;}
.login-logo img{width:100%;}
.login-form{}
.login-group{margin-bottom:1rem;height:1.5rem;border-bottom:1px solid #CCCCCC;overflow: hidden;}
.login-label{float:left;width:15%;height:1.5rem;line-height:1.5rem;}
.login-label img{width:1.2rem;}
.login-phone,.login-vdcode{float: left;height:100%;padding:0 0.2rem;box-sizing: border-box;}
.login-phone{width:80%;}
.login-vdcode{width:50%;}
.login-sendMsg{float:left;width:30%;border: 1px solid #CCCCCC;border-radius:0.4rem;color:#FF0000;padding:0.2rem 0;margin-bottom:0.1rem;}
.login-btn{display: block;width:60%;height:2rem;text-align: center;line-height:2rem;background:#FF0000;color:#FFFFFF;margin:2rem auto;border-radius:1rem;}
/*登录页面结束*/

/*五分钟内 开始*/
.cancelWithin-wait{margin-top:2rem;}
/*五分钟内结束*/


/*是否确认服务  开始*/
.confirm-tip{width:8rem;margin:2rem auto 0;font-weight: bold;text-align: center;font-size:0.8rem;}
.confirm-tip img{width:6rem;margin:0 auto 1rem;}
.comfirm-btn{margin-top:2rem;}
.confirm-footer{position:absolute;bottom:0;left:0;right:0;height:2rem;text-align: center;}
.confirm-footer a{color:#666666;}
/*是否确认服务  结束*/


/*支付失败 开始*/
.payFailed-img{width:6rem;margin: 0 auto 1rem;}
.payFailed-reason{width:8rem;margin: 2rem auto;color:#999999;}
/*支付失败 结束*/

/*支付成功 开始*/
.paysuccess-content{margin-top:2rem;color:#666666;}
.paysuccess-group{margin-bottom:1rem;line-height:1,5rem;overflow: hidden;}
.paysuccess-label{width:40%;float: left;text-align:right;}
.paysuccess-info{float:left;width: 60%;}
/*支付成功 结束*/


/*用户中心开始*/
.home-btn{float: right;width:1.6rem;margin-top:0.2rem;}
.home-btn img{width:100%;}
.userCenter-banner{width:100%;height:8rem;background:#CCCCCC;}
.userCenter-content{width:100%;}
.userCenter-tab{width:100%;height:2rem;background:#666666;}
.userCenter-tab-item{float: left;width:50%;height:100%;line-height: 2rem;text-align: center;color:#CCCCCC;cursor: pointer;}
.userCenter-tab-on{color:#FFFFFF;}
.hide{display: none;}
/*更多设置 开始*/
.more-set-item{width:100%;padding:0.5rem 0;border-bottom:1px solid #CCCCCC;overflow: hidden;font-size:0.8rem;}
.more-set-item a{display: block;width:100%;height:100%;}
.more-set-icon,.more-set-content{float: left;}
.more-set-icon{width:1.2rem;margin-right:0.8rem;}
.more-set-content{line-height:1.2rem;}
.more-set-arrow{float:right;width:1rem;}

.userAgreement-title{margin:3rem 0 0.5rem;text-align: center;}

.modal{position:absolute;top:0;left:0;right:0;bottom:0;}
.mask{width:100%;height:100%;background: #000000;opacity: 0.5;filter:Alpha(opacity=50);position:absolute;top:0;left:0;right:0;bottom:0;}
.modal-box{width:80%;padding:1rem 0;position:absolute;left:50%;top:30%;margin-left:-40%;background:#FFFFFF;border-radius:0.2rem;}
.modal-title{text-align:center;}
.modal-container{margin-bottom:1rem;}
.modal-content{width:80%;margin: 0.5rem auto;padding:0 0.5rem;border:1px solid #CCCCCC;border-radius:0.2rem;}
.modal-content input{width:100%;height:2rem;}
.modal-btns{width:80%;overflow: hidden;margin:0 auto;}
.modal-btn{width:45%;height:1.8rem;text-align: center;line-height:1.8rem;box-sizing: border-box;border:1px solid #CCCCCC;border-radius: 0.5rem;}
.modal-confirm{float: right;}
.modal-cencel{float: left;}
.del-modal .modal-btn{background-color: rgba(22, 155, 213, 1);color:#FFFFFF;}
/*更多设置 结束*/
.bottom-tip{width:100%;height:1.6rem;line-height:1.6rem;text-align: center;margin-top:1.5rem;color:#666666;}

/*订单 开始*/
.userCenter-orders-item{border-bottom:1px solid  #999999;}
.userCenter-orders-t{border-bottom:1px solid #eeeeee;line-height:2rem;overflow: hidden;}
.userCenter-orders-del{float: right;width:1rem;margin-top:0.6rem;}
.userCenter-orders-del img{width:100%;}
.userCenter-orders-op{float: right;width:1rem;margin-top:0.6rem;}
.userCenter-orders-op img{width:100%;}
.userCenter-orders-num{float: left;}
.userCenter-orders-c{padding:0.5rem 0;overflow: hidden;border-bottom:1px solid #eeeeee;}
.userCenter-orders-demand{float: right;width:55%;line-height:0.8rem;}
.userCenter-orders-per{float: left;width:40%;text-align: center;}
.orders-per-img{width:3.2rem;height:3.2rem;margin:0 auto 0.5rem;border-radius:100%;background:#CCCCCC;}
.orders-per-img img{width:100%;}
.userCenter-orders-b{line-height:1.5rem;}
.userCenter-orders-state{float: right;}
.userCenter-orders-money{float: left;}
.red{color:#FF0000;}

/*订单 结束*/
/*用户中心结束*/

/*跳转 状态*/
.jump-content{width:100%;position:absolute;top:2rem;bottom:0;margin-top:3rem;text-align: center;line-height:1rem;}
.jump-content p{width:80%;margin: 0 auto;}

/*支付页面*/
.weixin-pay{float:right;width:46%;height:6rem;border:1px solid #666666;margin-top:1rem;}
.zfb-pay{float:left;width:46%;height:6rem;border:1px solid #666666;margin-top:1rem;}
.weixin-pay img,.zfb-pay img{width:100%;}

/*评价开始*/
.evaluate-pic{width: 100%;height: 9rem;margin: 0 auto;}
.evaluate-img{display: block;width: 9rem;height:8rem;margin:0 auto;}
.evaluate-pic p{display:block;text-align:center;line-height:1rem;font-size: 0.9rem;white-space: pre-wrap;color:#333;/*background:red;*/font-weight: bold;}
.evaluate-inp{display: block;width: 92%;margin:0 auto;height: 7rem;padding:1rem;border: 1px solid #999;text-align: center;line-height: 7rem;margin-top: 1rem;border-radius: 5px;}
.evaluate-inp textarea{font-size: 0.7rem;resize: none;width: 100%;height: 100%;}
.evaluate-stars{margin: 1rem auto;text-align: center;color: #0000FF;font-size: 0.9rem;color: #111;}
.evaluate-stars img{display: inline-block;margin-left: 5px;}
.confirmEl{margin:0 auto;width: 6rem;height: 2rem;background:#f00;text-align: center;line-height: 2rem;border-radius: 5px;}
.confirmEl a{font-size: 0.7rem;color: #fff;}
/*评价结束*/
	
/*修改手机号开始*/
.head-phone{width: 100%;height: 4rem;padding-top:0.5rem;border: 1px solid #ccc;}
.head-phone p{font-size: 0.7rem;font-weight: 700;margin-top:0.5rem ;color: #333;}
.head-phone p.systerm{color: #999;}
.head-phone p.systerm span.price{display: inline-block;float: right;font-weight:normal;color:#999;}

.contact-phone{height: 7rem;width: 100%;border: 1px solid #ccc;margin: 0.7rem auto;}
.contacts,.contactsWay,.verification{width: 100%;height: 2rem;text-align: left;line-height: 2rem;color: #000;font-weight:700;position: relative;}
.contactsWay .contactsBox button{display: inline-block;width: 3.5rem;position:absolute;right:0.3rem;top:0.5rem;height:1.1rem;line-height:1.1rem;background-color: #f00;border: 1px solid #CCCCCC;border-radius: 5px;color: #FFFFFF;text-align: center;}
/*.verification .contactsBox{border-bottom: 1px solid #333;}*/
.contact-phone .container{height: 6.1rem;}
.contactsBox{position: absolute;left: 3.5rem;top: 0;border-bottom:1px solid #000;width: 12rem;padding-left:0.5rem;}
/*#contact-verification{display: inline-block;border-bottom: 1px solid #000;}*/
.serverWay-phone{width: 100%;height:12rem;padding: 1rem auto 0;border: 1px solid #ccc;margin: 0.7rem auto;}
.serverWay-phone .server-way,.serverWay-phone .remote-service,.serverWay-phone .coupan-code{width: 100%;height: 2rem;line-height: 2rem;color: #000;font-weight:700;}
.serverWay-phone .server-way{border-bottom: 1px solid #999;}
.serverWay-phone .remote-service input{display: none;}
.serverWay-phone .coupan-code input{margin-right: 0.5rem;border: 1px solid #CCCCCC;}
.serverWay-phone label{height: 0.7rem; width: 0.7rem;display: inline-block;border: 1px solid #FF0000;border-radius: 0.35rem;text-align: center;line-height:0.7rem;margin-right: 0.5rem;}
.serverWay-phone label span{display: inline-block;width: 0.5rem;height: 0.5rem;background: #FF0000;border-radius: 0.5rem;} 
.serverWay-phone .coupan-code input{display: inline-block;}
.serverWay-phone .txt{display:block;padding:0 0.5rem;border: 1px solid #CCCCCC;width: 90%;height: 5rem;margin: 0 auto;padding: 0.3rem;resize: none;}

.footer-phone{width: 100%;height: 2.2rem;position:fixed;bottom:0;border: 1px solid #CCCCCC;background-color: #fff;}
.footer-phone .total{color: #333333;font-weight: bold;line-height: 2.2rem;}
.footer-phone .total em{color: #FF0000;font-weight: normal;padding-left: 0.5rem;}
.footer-phone a.pay{display:inline-block;background:#999999;color: #fff;height: 2.2rem;width:5rem;line-height: 2.2rem;text-align:center;position: absolute;right: 0;top: 0;}
/*修改手机号结束*/


/*提交订单开始*/
.head-submitOrder{width: 100%;height: 4rem;padding-top:0.5rem;border: 1px solid #ccc;}
.head-submitOrder p{font-size: 0.7rem;font-weight: 700;margin-top:0.5rem ;color: #333;}
.head-submitOrder p.systerm{color: #999;}
.head-submitOrder p.systerm span.price{display: inline-block;float: right;font-weight:normal;color:#999;}

.contact-submitOrder{height: 5rem;width: 100%;border: 1px solid #ccc;margin: 0.7rem auto;}
.contact-submitOrder .container{height: 4.1rem;}
.contactsWay .contactsBox button,.contacts .contactsBox button{display: inline-block;width: 3.5rem;position:absolute;right:0.9rem;top:0.5rem;height:1.1rem;line-height:1.1rem;background-color: #f00;border: 1px solid #CCCCCC;border-radius: 5px;color: #FFFFFF;text-align: center;}
/*.verification .contactsBox{border-bottom: 1px solid #333;}*/
.contactsBox{position: absolute;left: 3.5rem;top: 0;border-bottom:1px solid #000;width: 12rem;padding-left:0.5rem;}
/*#contact-verification{display: inline-block;border-bottom: 1px solid #000;}*/

/*蒙层*/
#shade1 .nameShade{position:absolute;left:0;top:0;width: 100%;height: 100%;background-color: #CCCCCC;opacity: 0.8;display: none;z-index: 999;}
#shade1 .nameBomb{position: absolute;left: 10%;top:30%;width: 80%;height: 6rem;border: 1px solid #333333;background-color: #FFFFFF;border-radius: 5px;z-index:1000;display: none;}
#shade1 .nameBomb p{display:block;width: 80%;height: 2rem;margin: 1rem auto 0;text-align: left;line-height: 2rem;}
#shade1 .nameBomb p input{display: inline-block;border: 1px solid #333333;height: 1.6rem;width: 75%;}
#service .nameBomb{margin-top: 0.6rem;border: 1px solid #ff0;}
#shade1 .nameBomb p button{width: 40%;height: 1.5rem;background-color: #169bd5;color: #FFFFFF;font-size: 0.7rem;border-radius: 5px;}
#shade1 .nameBomb p button.confirm{float: right;}
#shade1 .nameBomb p button.cancel{float: left;}

#shade2 .phoneShade{position:absolute;left:0;top:0;width: 100%;height: 100%;background-color: #CCCCCC;opacity: 0.8;filter:alpha(opacity=80);z-index: 999;display: none;}
#shade2 .phoneBomb{position: absolute;left: 10%;top:30%;width: 80%;height: 8rem;border: 1px solid #333333;background-color: #FFFFFF;border-radius: 5px;z-index: 1000;display: none;}
#shade2 .phoneBomb p{display:block;width: 80%;height: 2rem;margin: 0.6rem auto 0;text-align: left;line-height: 2rem;}
#shade2 .phoneBomb p input{display: inline-block;height: 1.5rem;width: 60%;box-sizing: border-box;}
#shade2 .phoneBomb p input.inp1{float: right;border: 1px solid #333333;}
#shade2 .phoneBomb p input.inp2{border-bottom: 1px solid #333333;}
#service .phoneBomb{margin-top: 0.6rem;border: 1px solid #ff0;}
#shade2 .phoneBomb p button{width: 40%;height: 1.5rem;background-color: #169bd5;color: #FFFFFF;font-size: 0.7rem;border-radius: 5px;}
#shade2 #VerBomb{margin-left:1px;}
#shade2 .phoneBomb p button.veritifica{width: 40%;box-sizing: border-box;padding:0;}
#shade2 .phoneBomb p button.confirm{float: right;}
#shade2 .phoneBomb p button.cancel{float: left;}
/*发送验证码*/
#shade2 .v1,#shade2 .v2{font-size: 0.5rem;}
#shade2 .v1{display: block;}
#shade2 .v2{display: none;}





.serverWay-submitOrder{width: 100%;height:14rem;padding: 1rem auto 0;border: 1px solid #ccc;margin: 0.7rem auto;}
.serverWay-submitOrder .server-way,.serverWay-submitOrder .remote-service,.serverWay-submitOrder .coupan-code,.serverWay-submitOrder .instructions{width: 100%;height: 2rem;line-height: 2rem;color: #000;font-weight:700;}
.serverWay-submitOrder .server-way{border-bottom: 1px solid #999;}
.serverWay-submitOrder .remote-service input,.serverWay-submitOrder .coupan-code input{display: none;}
.serverWay-submitOrder label{height: 0.7rem; width: 0.7rem;display: inline-block;border: 1px solid #FF0000;border-radius: 0.35rem;text-align: center;line-height:0.7rem;margin-right: 0.5rem;}
.serverWay-submitOrder label span,.serverWay-submitOrder .instructions span{display: inline-block;width: 0.5rem;height: 0.5rem;border-radius: 0.5rem;background: #FF0000;} 
/*.serverWay-submitOrder .coupan-code input:checked:nth-child(0) span{background: #FF0000;}*/
.serverWay-submitOrder .instructions span{margin-right: 0.5rem;margin-left: 0.15rem;}
.serverWay-submitOrder .txt{display:block;padding:0 0.5rem;border: 1px solid #CCCCCC;width: 90%;height: 5rem;margin: 0 auto;padding: 0.3rem;resize: none;}

.serverWay-submitOrder .coupan-code textarea{ resize: none;border: 1px solid #333;float: right;width: 10rem;height:1rem;display: inline-block;border-radius:2px;margin-top:0.5rem;font-size: 0.7rem;display: none;}


.footer-submitOrder{width: 100%;height: 2.2rem;position:fixed;bottom:0;border: 1px solid #CCCCCC;}
.footer-submitOrder .total{color: #333333;font-weight: bold;line-height: 2.2rem;}
.footer-submitOrder .total em{color: #FF0000;font-weight: normal;padding-left: 0.5rem;}
.footer-submitOrder a.pay{display:inline-block;background:#999999;color: #fff;height: 2.2rem;width:5rem;line-height: 2.2rem;text-align:center;position: absolute;right: 0;top: 0;}
/*提交订单结束*/