.swipe{
    overflow: hidden;
    visibility: hidden;
    position:relative;
}
.swipe-wrap{
    overflow-x:hidden;
    position:relative;
}
.swipe-wrap > div {
    float: left;
    width: 100%;
    position:relative;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    height:7.530667rem;
}
.swipe-wrap > div a{
	font-size: 12px;
	display:flex;
	flex-direction: column;
	align-items: center;
	width:25%;
	text-align: center;
}
.swipe-wrap > div a img{
	display: block;
	width:1.92rem;
	height:1.92rem;
	margin-bottom:0.106667rem;
}
#position{
   position: absolute;
   bottom: 0rem;
   left: 0;
   .rem(margin-top, 20rem);
   .rem(margin-bottom, 10rem);
   margin: 0;
   opacity: 0.4;
   width: 100%;
   filter: alpha(opacity=50);
   text-align: center;
}
#position li{
      width: 10px;
      height: 10px;
      margin: 0 8px;
      display: inline-block;
      -webkit-border-radius: 30px;
      border-radius: 5px;
      background-color: #CAC2C2;
}
#position li.cur{
    background-color: black;
}

